<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="SPL Importer"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://spl-importer.herokuapp.com"/>
    <meta property="og:image" content="https://pbs.twimg.com/profile_images/3214288577/926bdf69bf66e2e3c5e4c3d7aac259b8_400x400.png"/>
    <%= favicon_link_tag 'favicon.ico' %>
    <title>SPL Importer</title>
	  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>

		<%= yield %>

		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-54226021-3', 'auto');
		  ga('send', 'pageview');
		</script>
	</body>
</html>
